<%= form_with model: @scale_comparison_photo, url: museums_create_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field mb-5">
    <%= f.label :images, class: 'font-medium', for: "scene_photo_images" %>
    <br>
    <%= f.file_field :images, multiple: true, id: "scene_photo_images", class: "file-input file-input-bordered w-full max-w-xs", accept: 'images/*' %>
    <p class="text-gray-400">JPEG / GIF / PNG</p>
    <p class="text-gray-400">1枚5MB以内、最大10枚アップロードできます</p>
    </div>
  <div class="field mb-5">
    <div class="flex items-center">
      <%= f.label :product_name, class: 'font-medium', for: "scale_comparison_photo_product_name" %><span class="text-red-500">*</span>
    </div>
      <%= f.text_field :product_name, id: "scale_comparison_photo_product_name", class: 'w-full bg-gray-100 border border-gray-300 p-2 mb-4 outline-none' %>
  </div>
  <div class="field mb-5">
    <%= f.label :company, class: 'font-medium', for: "scale_comparison_photo_company" %>
    <%= f.text_field :company, id: "scale_comparison_photo_company", class: 'w-full bg-gray-100 border border-gray-300 p-2 mb-4 outline-none' %>
  </div>

  <div class="field mb-5">
    <%= f.label :kind, class: 'font-medium', for: "scale_comparison_photo_kind" %>
    <div>
      <%= f.select :kind, (1..20).to_a, {}, { id: "scale_comparison_photo_kind", class: 'w-1/3 bg-gray-100 border border-gray-300 p-2 mb-4 outline-none' } %>
    </div>
  </div>

  <div class="field mb-5">
    <%= f.label :content, class: 'font-medium', for: "scale_comparison_photo_content" %>
    <%= f.text_area :content, id: "scale_comparison_photo_content", class: 'w-full bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none' %>
  </div>

  <!-- Buttons -->
  <div class="actions mb-7 text-center">
    <%= f.submit (t '.new.post'), class: "btn btn-active btn-accent" %>
  </div>
<% end %>