<%= form_with model: @scene_photo, url: galleries_create_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field mb-5">
    <div class="flex items-center">
      <%= f.label :images, class: 'font-medium', for: "scene_photo_images" %><span class="text-red-500">*</span>
    </div>
    <%= f.file_field :images, multiple: true, id: "scene_photo_images", class: "file-input file-input-bordered w-full max-w-xs" %>
    <p class="text-gray-400">JPEG / GIF / PNG</p>
    <p class="text-gray-400">1枚5MB以内、最大3枚アップロードできます</p>
    </div>

  <div class="field mb-5">
    <%= f.label :title, class: 'font-medium', for: "scene_photo_title" %><span class="text-red-500">*</span><span class="text-gray-400"> (32文字以内) </span>
    <%= f.text_field :title, id: "scene_photo_title", class: 'w-full bg-gray-100 border border-gray-300 p-2  outline-none', value: @scene_photo_title || '' %>
    <p class="text-gray-400">空欄のまま投稿すると自動的に"無題"というタイトルで投稿されます</p>
  </div>

  <div class="field mb-5">
    <%= f.label :caption, class: 'font-medium', for: "scene_photo_caption" %><span class="text-gray-400"> (3000文字以内) </span>
    <%= f.text_area :caption, id: "scene_photo_caption", class: 'w-full bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none' %>
  </div>

  <div class="field mb-5">
    <%= f.label :tag_names, class: 'font-medium', for: "scene_photo_caption" %>
    <%= f.text_field :tag_names, id: "tag_names", class: 'w-full bg-gray-100 border border-gray-300 p-2  outline-none', placeholder: ',で区切って入力してください' %>
    <p class="text-gray-400">使用しているドール・フィギュア・ミニチュアの情報を入力できます</p>
    </div>

  <!-- Buttons -->
  <div class="actions mb-7 text-center">
    <%= f.submit (t '.new.post'), class: "btn btn-active btn-accent" %>
  </div>
<% end %>