<%= form_with model: @scene_photo, url: galleries_create_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field mb-5">
    <%= f.label :image, class: 'font-medium', for: "scene_photo_image" %>
    <br>
    <%= f.file_field :image, id: "scene_photo_image", class: "file-input file-input-bordered w-full max-w-xs", accept: 'image/*' %>
    <%= f.hidden_field :scene_photo_image_cache %>
  </div>

  <div class="field mb-5">
    <%= f.label :title, class: 'font-medium', for: "scene_photo_title" %>
    <%= f.text_field :title, id: "scene_photo_title", class: 'w-full bg-gray-100 border border-gray-300 p-2 mb-4 outline-none', value: '' %>
  </div>
  <div class="field mb-5">
    <%= f.label :caption, class: 'font-medium', for: "scene_photo_caption" %>
    <%= f.text_area :caption, id: "scene_photo_caption", class: 'w-full bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none' %>
  </div>

  <!-- Buttons -->
  <div class="actions mb-7 text-center">
    <%= f.submit (t '.new.post'), class: "btn btn-active btn-accent" %>
  </div>
<% end %>