<body>
  <div class="relative flex flex-col justify-center min-h-screen overflow-hidden">
    <div class="p-6 sm:mx-6 md:mx-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 sm:max-w-lg mb-8 mt-8">
      <h1 class="text-3xl font-semibold text-center text-gray-700"><%= t 'defaults.signup' %></h1>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <!-- メールアドレスとパスワードのフィールド -->
        <div class="field mb-5">
          <%= f.label :email, class: "font-semibold", for: "user_email" %><span class="text-red-500">*</span>
          <%= f.email_field :email, id: "user_email", class: "w-full input input-bordered", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field mb-5">
          <div class="flex items-center">
            <%= f.label :password, class: "font-semibold", for: "user_password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %><%= t '.characters minimum'%>)</em><span class="text-red-500">*</span>
            <% end %>
          </div>
          <%= f.password_field :password, id: "user_password", class: "w-full input input-bordered", autocomplete: "new-password" %>
        </div>

        <!-- プロフィール情報のフィールド -->
        <%= f.fields_for :profile do |profile_fields| %>
          <div class="field mb-7">
            <%= profile_fields.label :name, class: "font-semibold", for: "user_name" %><span class="text-red-500">*</span>
            <%= profile_fields.text_field :name, id: "user_name", class: "w-full input input-bordered" %>
          </div>
        <% end %>

        <div>
          <%= f.fields_for :profile do |profile_fields| %>
            <fieldset>
              <legend style="font-weight: bold;" class="font-semibold"><%= t 'profile.gender.gender' %><span class="text-red-500">*</span></legend>
              <div class="flex mb-7"><!--genderのenumに基づいて表示-->
                <% Profile.genders.keys.each do |gender| %>
                  <div class="flex items-center mr-7">
                    <%= profile_fields.radio_button :gender, gender, id: "gender_#{gender}" %>
                    <%= profile_fields.label gender, t("profile.gender.#{gender}"), for: "gender_#{gender}", class: "text-base font-medium text-gray-900 ml-1 flex items-center" %>
                  </div>
                <% end %>
              </div>
            </fieldset>
          <% end %>
        </div>

        <%= f.fields_for :profile do |profile_fields| %>
          <fieldset>
            <div class="field mb-7">
              <div>
                <legend style="font-weight: bold;" class="font-semibold"><%= t 'profile.date.birthdate' %><span class="text-red-500">*</span></legend>
              </div>
              <div class="inline-flex space-x-3 w-full">
                <%= profile_fields.date_select :birthdate,
                  {
                    start_year: Time.now.year - 5,
                    end_year: 1930,
                    order: [:year, :month, :day],
                    use_month_numbers: true,
                    prompt: { year: t('date.prompts.year'), month: t('date.prompts.month'), day: t('date.prompts.day') },
                    id: "user_birthdate"
                  },
                  class: "btn btn-active btn-neutra flex-grow"
                %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <!-- 登録ボタン -->
        <div class="actions mb-7">
          <%= f.submit (t 'defaults.signup'), class: "btn btn-active btn-accent btn-block" %>
        </div>

        <hr class="mb-5">
        <div class="text-center mb-3">
          <%= link_to(t('defaults.login'), new_user_session_path, class: 'text-base text-gray-600') %>
        </div>
      <% end %>
    </div>
  </div>
</body>
